<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
 
        <bean id="efs" class="day3Task2.EmployeeFilteringServiceImpl" />
 
        <bean id="eff" class="day3Task2.EmployeeFilteringFacadeImpl">
                <constructor-arg ref="efs" />
        </bean>
</beans>